<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div style="height: 100%">
            <div id="card" style="background-color: red; width: 700px; height: 500px; margin: auto auto; border-radius: 32px; text-align: center;">
                <div id="avatar-nome" style="height: 50px; background-color: blue; border-radius: 32px 32px 0 0;"></div>
                {% if has_avatar %}
                    <span style="font-size: xxx-large; color: white; font-weight: bold;">
                        Você tem avatar criado!!
                    </span>
                    <span style="display: block; font-size: xx-large; color: white;">
                        O que deseja fazer?
                    </span>
                    <a href="{{ url_for('CacaView:form_0') }}">
                        <div id="botao-criar-novo" style="background-color: aquamarine; height: 40px; font-size: x-large;width: 400px; margin: 7em auto 0 auto;border-radius: 32px;">
                                Criar novo avatar
                        </div>
                    </a>
                    <a href="{{ url_for('CacaView:listar') }}">
                        <div id="botao-ver-lista" style="background-color: aquamarine; height: 40px; font-size: x-large; width: 400px; margin: 2em auto 0 auto;; border-radius: 32px;">
                                Ver avatares
                        </div>
                    </a>
                    {% else %}
                    <span style="font-size: xxx-large; display: block; color: white; font-weight: bold;">
                        Você não tem avatar criado!!
                    </span>
                    <span  style="display: block; font-size: xx-large; color: white;">
                        Deseja criar um novo avatar?
                    </span>
                    <a href="{{ url_for('CacaView:form_0') }}">
                        <div id="botao-criar-novo" style="background-color: aquamarine; height: 40px; font-size: x-large;width: 400px; margin: 7em auto 0 auto;border-radius: 32px;">
                                Criar novo avatar
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </body>
</html>
