<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a href="{{ url_for('CacaView:index') }}">
            <div id="botao-criar-novo" style="height: 4em; width: 4em; background-color: cyan; border-radius: 50%; text-align: center; display: flex; justify-content: center; align-items: center; font-size: x-large;">
                    Voltar
            </div>
        </a>
        <div style="display: flex; gap: 2em; flex-wrap: wrap; justify-content: space-around; margin-top: 2em;">
            {% for avatar in avatares%}
                <div style="height: 100%">
                    <div id="card" style=" background-color: red; width: 500px; height: 700px; margin: auto auto; border-radius: 32px;">
                        <div id="avatar-nome" style=" height: 50px; background-color: blue; border-radius: 32px 32px 0 0; display: flex; align-items: center; justify-content: center; color: white; font-weight: bolder; font-size: larger;" >
                            <span>
                                {{avatar.nome}}
                            </span>
                        </div>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Genêro:</span> {{avatar["genero"]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Raça:</span> {{caracteristicas.racas[avatar["raca"]|int]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Função:</span> {{caracteristicas.funcoes[avatar["funcao"]|int]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Cor da pele:</span> <span style="height: 30px; width: 30px; display: inline-block; background-color: {{avatar['cor-de-pele']}};"></span>
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">primeira skill:</span> {{caracteristicas.primeira_habilidade[avatar["first-skill"]|int]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Região:</span> {{caracteristicas.regiao_natal[avatar["region"]|int]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Primeira arma:</span> {{caracteristicas.primeira_arma[avatar["first-weapon"]|int]}}
                        </p>
                        <p style="height: 40px; padding: 0 1em; color: white; font-size: large;">
                            <span style="font-weight: bolder;">Primeiro acessório místico:</span> {{caracteristicas.primeiro_acessorio_mistico[avatar["first-mistic-acessorie"]|int]}}
                        </p>
                        <a href="{{ url_for('CacaView:form_1', id = avatar.id) }}">
                            <div id="botao-editar" style="background-color: aquamarine; height: 40px; font-size: x-large;width: 400px; margin: 3em auto 0 auto;border-radius: 32px; text-align: center;">
                                    Editar
                            </div>
                        </a>
                        <a href="{{ url_for('CacaView:deletar', id = avatar.id) }}">
                            <div id="botao-exluir" style="background-color: aquamarine; height: 40px; font-size: x-large;width: 400px; margin: 0.5em auto 0 auto;border-radius: 32px; text-align: center;">
                                    Excluir
                            </div>
                        </a>
                    </div>
                </div>
            {%endfor%}
        </div>
        <!-- <ul>
    {%for estudante in lista%}
        <li>{{ estudante.id }} - 
            <a href="{{ url_for("CacaView:form_1", id = estudante.id) }}">
                {{ estudante.nome }}
            </a>
            <a href="{{ url_for("CacaView:deletar", id = estudante.id) }}">
                Deletar
            </a>
        </li>
    {%endfor%}
</ul> -->
    </body>
</html>
